<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/Styless.css">
    <link rel="stylesheet" href="/Css/bootstrap-grid.css">
    <link rel="stylesheet" href="/Css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Calendario|Universidad Mesoamericana</title>
</head>
<body>
    <header id="header">
        <nav>
            <div>
                <ul class="nav imagenfondos2">
                    <li><a href="Index.html">Inicio</a></li>
                    <li><a href="Noticias.html">Noticias</a></li>
                    <li><a href="">Organización</a>
                        <ul>
                            <li><a href="">Historia</a></li>
                            <li><a href="">Ideario</a></li>
                            <li><a href="">Visión y Misión</a></li>
                            <li><a href="">Estatus y <br>
                                 Reglamentos</a></li>
                            <li><a href="">Autoridades</a></li>
                            <li><a href="">Alianza Microsoft</a></li>
                            <li><a href="">Descargas</a></li>
                            <li><a href="">Pastoral</a></li>
                            <li><a href="">Himno de la Universidad</a></li>
                            <li><a href="">Tour Virtual</a></li>
                            <li><a href="">Becas</a></li>
                            <li><a href="">Galería Meso</a></li>
                            <li><a href="">Bolsa de Empleo</a></li>
                            <li><a href="">Sede Central</a></li>
                            
                        </ul>
                    </li>
                    <li><a href="">Académico</a>
                        <ul>
                            <li><a href="">Carreras</a></li>
                            <li><a href="">Requisitos de admisión</a></li>
                            <li><a href="">Horario de clases</a></li>
                            <li><a href="Calendario.html">Calendario Académico 2022</a></li>
                            <li><a href="">Pasos de Inscripción</a></li>
                            <li><a href="">Registro Académico</a></li>
                            <li><a href="">Revista Explora</a></li>
                        </ul>
                    </li>
                    <li><a href="">Admisiones</a>
                        <ul>
                            <li><a href="">Exámenes de admisión</a></li>
                            <li><a href="">Entrevistas, Facultad de ingenieria</a></li>
                            <li><a href="">Entrevistas, Facultad de Arquitectura</a></li>
                        </ul>
                    </li>
                    <li><a href="">Estudiantes</a>
                        <ul>
                            <li><a href="">Aula Virtual</a></li>
                            <li><a href="">Sitio de Estudiantes</a></li>
                            <li><a href="">Correo Institucional</a></li>
                            <li><a href="">Técnicas de Estudio</a></li>
                            <li><a href="">Revista Explora</a></li>
                        </ul>
                    </li>
                    <li><a href="">Docentes</a>
                        <ul>
                            <li><a href="">Aula Virtual</a></li>
                            <li><a href="">Sitio de Docentes</a></li>
                            <li><a href="">Correo Institucional</a></li>
                            <li><a href="">Técnicas de Estudio</a></li>
                            <li><a href="">Revista Explora</a></li>
                        </ul>
                    </li>
                    <li><a href="">Contáctanos</a></li>
                    
                </ul>
            </div>
        </nav>    
    </header>
    <hr style="width:100%; height:1px;background:#acacac">
    <main>

        <div class="ReglasEstatutos container">
            <center>
                <h2> <b>Haz clic en la imagen para descargar</b> </h2><br>
            </center>
        <article>
            <section class="row margnff" >
                <div class="trifolios col-xs-12 col-sm-6 col-md-6">
                    <center>
                      
                        <a href="/Assets/Docs/CalendarioAcademicoPlanDiario2022.pdf" download="" >
                            <img src="/Assets/Image/Calendario-Academico-Plan-Diario-2022-_Pagina_1.png" style="width: 100%;" class="sobrastri">
                        </a>
                       
                            
                    </center>
                    
                </div>
                <div class="trifolios  col-xs-12 col-sm-6 col-md-6">
                    <center>
                      
                        <a href="/Assets/Docs/Calendario-Plan-Fin-de-Semana-2022-.pdf" download ><img src="/Assets/Image/Calendario-Plan-Fin-de-Semana-2022-_Pagina_1.png" style="width: 100%;" class="sobrastri"></a>
                            
                    </center>
                    
                </div>
            </section>
            

            <section class="row margnff" >
                <div class="trifolios  col-xs-12 col-sm-6 col-md-6">
                    <center>
                      
                        <a href="/Assets/Docs/Calendario-Academico-Medicina.pdf" download ><img src="/Assets/Image/Calendario-Academico-Medicina-1.png" style="width: 100%;" class="sobrastri"></a>
                            
                    </center>
                    
                </div>
                <div class="trifolios  col-xs-12 col-sm-6 col-md-6">
                    <center>
                      
                        <a href="/Assets/Docs/Calendario-Academico-2022-Odontologia.pdf" download ><img src="/Assets/Image/Calendario-Academico-2022-Odontologia-1.png" style="width: 100%;" class="sobrastri"></a>
                            
                    </center>
                    
                </div>
            </section>

            <section class="row margnff" >
                <div class="trifolios  col-xs-12 col-sm-12 col-md-12">
                    <center>
                      
                        <a href="/Assets/Docs/Calendario-Academico-2022-Maestrias.pdf" download ><img src="/Assets/Image/Calendario-Academico-2022-Maestrias-1.png" style="width: 50%;" class="sobrastri"></a>
                            
                    </center>
                    
                </div>
            </section>

        </article>
    </div>


        
    </main>
    <footer>
        <div class="infprincipal">
            <article class="container">
                <section class="row">
                    <div class="color1 col-xs-12 col-sm-12 col-md-4">
                        <p >
                            <b> CAMPUS ZONA 3</b><br>
                            3a calle 14-36 zona 3 <br>
                            PBX 7932 9000 <br>
                            info@mesoamericana.edu.gt
                        </p>
                    </div>
                    <div class="color1 col-xs-12 col-sm-12 col-md-4">
                        <p>
                            <b> CAMPUS LAS AMÉRICAS </b> <br>
                            Facultad de Medicina – Tel. 7728  8400 <br>
                            Extensión 107 o 108 <br>
                            10a calle 0-11 zona 9
                        </p>
                    </div>
                    <div class="color1 col-xs-12 col-sm-12 col-md-4">
                        <p>
                            <b> CAMPUS LAS AMÉRICAS </b><br>
                            Facultad de Ingeniería – PBX 7728 8400 <br>
                            Extensión 115 <br>
                            Avenida Las Américas 9-80 zona 9
                        </p>
                    </div>
                </section>
            </article>
        </div>
        <div class="creditos1">
           © 2020 Universidad Mesoamericana
        </div>
        <div>
        </div>
        <div class="creditos2">
            <a href="">WordPress Appliance</a> - Powered by <a href="">TurnKey Linux </a>
            <br>
            <br>
        </div> 
    </footer>

    <script src="/js/jqwery.js"> </script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
 
</body>
</html>