<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/Styless.css">
    <link rel="stylesheet" href="/Css/bootstrap-grid.css">
    <link rel="stylesheet" href="/Css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Universidad Mesoamericana</title>
</head>
<body>
    <header id="header">
        <nav>
            <div>
                <ul class="nav">
                    <li><a href="Index.html">Inicio</a></li>
                    <li><a href="Noticias.html">Noticias</a></li>
                    <li><a href="">Organización</a>
                        <ul>
                            <li><a href="">Historia</a></li>
                            <li><a href="">Ideario</a></li>
                            <li><a href="">Visión y Misión</a></li>
                            <li><a href="">Estatus y <br>
                                 Reglamentos</a></li>
                            <li><a href="">Autoridades</a></li>
                            <li><a href="">Alianza Microsoft</a></li>
                            <li><a href="">Descargas</a></li>
                            <li><a href="">Pastoral</a></li>
                            <li><a href="">Himno de la Universidad</a></li>
                            <li><a href="">Tour Virtual</a></li>
                            <li><a href="">Becas</a></li>
                            <li><a href="">Galería Meso</a></li>
                            <li><a href="">Bolsa de Empleo</a></li>
                            <li><a href="">Sede Central</a></li>
                            
                        </ul>
                    </li>
                    <li><a href="">Académico</a>
                        <ul>
                            <li><a href="">Carreras</a></li>
                            <li><a href="">Requisitos de admisión</a></li>
                            <li><a href="">Horario de clases</a></li>
                            <li><a href="Calendario.html">Calendario Académico 2022</a></li>
                            <li><a href="">Pasos de Inscripción</a></li>
                            <li><a href="">Registro Académico</a></li>
                            <li><a href="">Revista Explora</a></li>
                        </ul>
                    </li>
                    <li><a href="">Admisiones</a>
                        <ul>
                            <li><a href="">Exámenes de admisión</a></li>
                            <li><a href="">Entrevistas, Facultad de ingenieria</a></li>
                            <li><a href="">Entrevistas, Facultad de Arquitectura</a></li>
                        </ul>
                    </li>
                    <li><a href="">Estudiantes</a>
                        <ul>
                            <li><a href="">Aula Virtual</a></li>
                            <li><a href="">Sitio de Estudiantes</a></li>
                            <li><a href="">Correo Institucional</a></li>
                            <li><a href="">Técnicas de Estudio</a></li>
                            <li><a href="">Revista Explora</a></li>
                        </ul>
                    </li>
                    <li><a href="">Docentes</a>
                        <ul>
                            <li><a href="">Aula Virtual</a></li>
                            <li><a href="">Sitio de Docentes</a></li>
                            <li><a href="">Correo Institucional</a></li>
                            <li><a href="">Técnicas de Estudio</a></li>
                            <li><a href="">Revista Explora</a></li>
                        </ul>
                    </li>
                    <li><a href="">Contáctanos</a></li>
                    
                </ul>
            </div>
        </nav>    
    </header>
  <main>

    <hr style="width:100%; height:1px;background:#acacac">
    
    <div class="imagenesprin imagen1 ">
        <article >
            <section class="container" >
                <div class="margeninicio col-xs-12 col-sm-6 col-md-6">
                    <center>
                        <img src="/Assets/Image/Logo-Meso-Color_medio.png" style="width: 30%;">
                        <h1><b>UNIVERSIDAD MESOAMERICANA</b></h1>
                        <p>
                            Universidad Mesoamericana, Sede Quetzaltenango será apreciada como un Centro de Educación Superior consolidado, abierto y flexible.
                        </p>
                        <h2><b>Sede Quetzaltenango</b></h2>

                        <a href="https://www.google.com" class="boton_11">Click Aquí</a>
                    </center>
                    
                    
                </div> 
                <div class="trifolios2 col-xs-12 col-sm-6 col-md-6">
                    
                    
                
            </div>
            </section>
        </article>
    </div>


    <div class="container">
        <form>
            <section class="row">
                <div class="titulo">
                    <h3>¡Solicita información!</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6"">
                    <input type="text" class="input" placeholder="Nombre" required>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6"">
                    <input type="email" class="input" placeholder="Correo Electrónico" required>
                </div>
               
            </section>
            <section>
                
                    <textarea class="txtarea" rows="6" placeholder="¿Qué carrera te interesa?" required></textarea>
                
            </section>
            <section>
                <div class="col-xs-1 col-sm-11 col-md-11"">
                    <br>
                    <br>
                </div>
                <div class="col-xs-11 col-sm-1 col-md-1"">
                    <button type="submit" class="boton_11">Enviar</button>
                </div>
            </section>
          
        </form>
    </div>


    <div class="ReglasEstatutos2">
        <article>
         <section class="row" >
                <div class="trifolios2 col-xs-12 col-sm-12 col-md-12">
                    <center>
                    
                    </center>   
                </div>
            </section>
        </article>
    </div>


    <div class="tour">
        <div class="vacio">
        </div>
        <div class="titulo12">
            <a href="https://www.mesoamericana.edu.gt/galeria-meso-2021/" style="color:white;">CONOCE NUESTRO CAMPUS</a>
        </div>
        <div>
            <ul>
                <li class="espaciobr txt-extras">
                    <a href="https://www.mesoamericana.edu.gt/galeria-meso-2021/" style="color:white;">Galería</a>
                </li>
                <li class="txt-extras">
                    <a href="https://www.mesoamericana.edu.gt/tour/" style="color: white;">Tour Virtual <b>360°</b></a>
                </li>
                <li class="txt-extras">
                    <a href="https://www.youtube.com/user/Mesoamericanaxela" style="color: white;">Videos</a>
                </li>
            </ul>
        </div>

    </div>


    <div class="ReglasEstatutos2">
            <center>
                <h1><strong>¿Qué es Universidad Mesoamericana?</strong></h1><br>
            </center>
        <article>
            <section class="row" >
                <div class="trifolios2 col-xs-12 col-sm-4 col-md-2">
                    <center>
                        <img src="/Assets/Image/book-1.png" style="width: 50%;">
                        <br>
                        <br>
                        <b>Formación centrada en el <br> Estudiante</b>
                        <br>
                        <br>
                        <p >
                            Contribuimos al desarrollo 
                             de la dignidad humana, del 
                              patrimonio cultural nacional y 
                               universal mediante la 
                                enseñanza y la investigación.
                        </p>
                    </center>   
                </div>
                <div class="trifolios2 col-xs-12 col-sm-4 col-md-2">
                    <center>
                       <img src="/Assets/Image/woman.png" style="width: 50%;">
                       <br>
                       <br>
                        <b>Formación con compromiso y ética </b>
                        <br>
                        <br>
                        <p >
                            Formamos personas comprometidas con el país y capaces de asumir un compromiso ético.
                        </p>
                    </center>
                    
                </div>
                <div class="trifolios2 col-xs-12 col-sm-4 col-md-2">
                    <center>
                       <img src="/Assets/Image/support.png" style="width: 50%;">
                       <br>
                       <br>
                        <b>Profesionales Competentes</b>
                        <br>
                        <br>
                        <p >
                            Procuramos orientar su acción hacia sectores populares y de bajos ingresos de modo prioritario, con el fin de formarlos como profesionales competentes y capaces de insertarse en el mercado laboral.
                        </p>
                    </center>
                    
                </div>
                <div class="trifolios2 col-xs-12 col-sm-4 col-md-2">
                    <center>
                        <img src="/Assets/Image/team-management.png" style="width: 50%;">
                        <br>
                        <br>
                        <b>Enseñanza con Calidad</b>
                        <br>
                        <br>
                        <p >
                            Desarrollamos carreras en el campo humanístico, de ciencias sociales y tecnológicas; procurando una enseñanza con calidad y una investigación pertinente, científica y social.
                        </p>
                    </center>
                    
                </div>
               
            </section>
        </article>
    </div>

    <div class="ReglasEstatutos">
            <center>
                <h1><b>Reglamentos y Estatutos </b> </h1><br>
            </center>
        <article>
            <section class="row" >
                <div class="trifolios col-xs-12 col-sm-3 col-md-4">
                    <center>
                        <p >
                            <h4><b>REGLAMENTO GENERAL</b> </h4>
                            <a href="/Assets/Docs/REGLAMENTOS.pdf" download ><img src="/Assets/Image/Reglamento-General.png" style="width: 55%;" class="sobrastri"></a>
                        </p>
                    </center>
                    
                </div>
                <div class="trifolios col-xs-12 col-sm-3 col-md-3">
                    <center>
                        <p >
                            <h4><b>ESTATUTOS</b> </h4>
                            <a href="/Assets/Docs/Estatutos.pdf" download=><img src="/Assets/Image/Estatutos.png" style="width: 75%;" class="sobrastri"></a>
                            
                        </p>
                    </center>
                </div>
                <div class="trifolios col-xs-12 col-sm-3 col-md-3">
                    <center>
                        <p >
                            <h4><b>REGLAMENTO ACADÉMICO</b>  </h4>
                            <a href="https://issuu.com/mesoamericana/docs/reglamento_acad_mico_2019"><img src="/Assets/Image/Reglamento-Academico.png" style="width: 75%;" class="sobrastri"></a>
                            
                        </p>
                    </center>
                </div>
            </section>
        </article>
    </div>


    <div class="infosecun">
        <div class="info2">
         <article class="container">
             <section class="row">
                 <div class=" col-xs-12 col-sm-12 col-md-12">
                     <p >
                         <b> <h3> REVISTA EXPLORA </h3></b><br>
                         <b> Este es un espacio para la divulgación de investigaciones científicas, ensayos y artículos de nuestros <br>
                             docentes promovido por el Señor Rector Dr. Félix Javier Serrano Ursúa. Y deseamos sea pionero en el campo <br>
                              de las publicaciones académicas de nuestro querido departamento.</b><br>
                         <br>
                         <br>
                     </p>
                 </div>
             </section>
             <section class="row">
                <div class=" col-xs-12 col-sm-12 col-md-12">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <h3><b>Revista Explora-5ta. Edición</b></h3>
                            <img src="/Assets/Image/Explora-Revista-Miniatura.jpg" alt="Los Angeles" style="width:50%;">
                          </div>
                          <div class="carousel-item">
                            <h3><b>Revista Explora-4ta. Edición</b></h3>
                            <img src="/Assets/Image/PORTADA-MESO.jpg" alt="Los Angeles" style="width:50%;">
                          </div>
                          <div class="carousel-item">
                            <h3><b>Revista Explora-3ta. Edición</b></h3>
                            <img src="/Assets/Image/Explora-Revista.png" alt="Los Angeles" style="width:50%;">
                          </div>
                          <div class="carousel-item">
                            <h3><b>Revista Explora-2ta. Edición</b></h3>
                            <img src="/Assets/Image/Portada-Meso-4.png" alt="Los Angeles" style="width:50%;">
                          </div>
                          <div class="carousel-item">
                            <h3><b>Revista Explora-1ta. Edición</b></h3>
                            <img src="/Assets/Image/EXPLORAMESO-5taEdicion-1.png" alt="Los Angeles" style="width:50%;">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Siguiente</span>
                        </button>
                      </div>
                </div>
            </section>
         </article>
     </div>
</div>
    

    <div class="infosecun2">
        <div class="info11">
         <article class="container">
             <section class="row">
                <div class=" col-xs-12 col-sm-6 col-md-6">
                    <p >
                        <b> <h1> MANTENTE INFORMADO</h1></b><br>
                        Sigue las noticias de las actividades e información de <br>
                         Universidad Mesoamericana.
                        <br>
                        <br>
                        <a href="https://www.google.com" class="boton_11">Click Aquí</a>
                    </p>
                </div>
                 <div class="color4 col-xs-12 col-sm-6 col-md-6">
                     <div id="myCarousel" class="carousel slide" data-ride="carousel">
                         <!-- Indicators -->
                         <ol class="carousel-indicators">
                           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                           <li data-target="#myCarousel" data-slide-to="1"></li>
                           <li data-target="#myCarousel" data-slide-to="2"></li>
                           <li data-target="#myCarousel" data-slide-to="3"></li>
                           <li data-target="#myCarousel" data-slide-to="4"></li>
                           <li data-target="#myCarousel" data-slide-to="5"></li>
                           <li data-target="#myCarousel" data-slide-to="6"></li>
                           <li data-target="#myCarousel" data-slide-to="7"></li>
                           <li data-target="#myCarousel" data-slide-to="8"></li>
                           <li data-target="#myCarousel" data-slide-to="9"></li>
                         </ol>
                     
                         <!-- Wrapper for slides -->
                         <div class="carousel-inner ">
                     
                           <div class="item active ">
                             <img src="/Assets/Image/Arte-Web.png" alt="Los Angeles" style="width:100%;"class="filtro">
                             <div class="carousel-caption ">
                               <h3> Vacante: Analista de Infraestructura</h3>
                               <p>Vacante disponible: Analista de Infraestructura Objetivo del puesto: Implementear, mantener y...</p>
                               <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                             </div>
                           </div>
                     
                           <div class="item">
                             <img src="/Assets/Image/AvisoSuspensionActividadesMesa-de-trabajo-4.jpg" alt="Chicago" style="width:100%;"class="filtro">
                             <div class="carousel-caption">
                               <h3>RECEPCIONISTA BILINGÜE</h3>
                               <p>Vacante disponible: Recepcionista BilingüeEncargada de recibir y atender a las personas que...</p>
                               <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                             </div>
                           </div>
                         
                           <div class="item">
                             <img src="/Assets/Image/2022RetornoClasesJulioMesa-de-trabajo-4.jpg" alt="New York" style="width:100%;"class="filtro">
                             <div class="carousel-caption">
                                 <h3> Vacante: Analista de Infraestructura</h3>
                                 <p>Vacante disponible: Analista de Infraestructura Objetivo del puesto: Implementear, mantener y...</p>
                               <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                             </div>
                           </div>

                           <div class="item">
                             <img src="/Assets/Image/ArticuloWeb.jpg" alt="toronto" style="width:100%;"class="filtro">
                             <div class="carousel-caption">
                                 <h3> Vacante: Analista de Infraestructura</h3>
                                 <p>Vacante disponible: Analista de Infraestructura Objetivo del puesto: Implementear, mantener y...</p>
                               <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                             </div>
                           </div>
                           
                           <div class="item">
                             <img src="/Assets/Image/Becas2022web.jpg" alt="toronto" style="width:100%;"class="filtro">
                             <div class="carousel-caption">
                                 <h3> Vacante: Analista de Infraestructura</h3>
                                 <p>Vacante disponible: Analista de Infraestructura Objetivo del puesto: Implementear, mantener y...</p>
                               <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                             </div>
                           </div>

                           <div class="item">
                             <img src="/Assets/Image/Portada2021escalada.png" alt="toronto" style="width:auto;"class="filtro">
                             <div class="carousel-caption">
                                 <h3> Vacante: Analista de Infraestructura</h3>
                                 <p>Vacante disponible: Analista de Infraestructura Objetivo del puesto: Implementear, mantener y...</p>
                               <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                             </div>
                           </div>

                           <div class="item">
                             <img src="/Assets/Image/Umial-Tinimit.png" alt="toronto" style="width: 100%;"class="filtro">
                             <div class="carousel-caption">
                                 <h3>Supervisión y Monitoreo del Censo Nacional de Infraestructura Escolar – Ingeniería de Sistemas, Informática y Ciencias de la Computación o su equivalente</h3>
                                 <p>La Dirección de Planificación Educativa –DIPLAN  Contratará los servicios de un (01) profesional...</p>
                               <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                             </div>
                           </div>

                           <div class="item">
                            <img src="/Assets/Image/AvisoImportante2021Vacunacion1.jpg" alt="toronto" style="width:100%;"class="filtro">
                            <div class="carousel-caption">
                                <h3>Supervisión y Monitoreo del Censo Nacional de Infraestructura Escolar – Ingeniería de Sistemas, Informática y Ciencias de la Computación o su equivalente</h3>
                                <p>La Dirección de Planificación Educativa –DIPLAN  Contratará los servicios de un (01) profesional...</p>
                              <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                            </div>
                          </div>

                          <div class="item">
                            <img src="/Assets/Image/AvisoImportante2021Vacunacion1.jpg" alt="toronto" style="width:100%;"class="filtro">
                            <div class="carousel-caption">
                                <h3>Supervisión y Monitoreo del Censo Nacional de Infraestructura Escolar – Ingeniería de Sistemas, Informática y Ciencias de la Computación o su equivalente</h3>
                                <p>La Dirección de Planificación Educativa –DIPLAN  Contratará los servicios de un (01) profesional...</p>
                              <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                            </div>
                          </div>

                          <div class="item">
                            <img src="/Assets/Image/ComunicadoVacunas.jpg" alt="toronto" style="width:100;"class="filtro">
                            <div class="carousel-caption">
                                <h3>Supervisión y Monitoreo del Censo Nacional de Infraestructura Escolar – Ingeniería de Sistemas, Informática y Ciencias de la Computación o su equivalente</h3>
                                <p>La Dirección de Planificación Educativa –DIPLAN  Contratará los servicios de un (01) profesional...</p>
                              <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                            </div>
                          </div>
                         </div>
                     
                         <!-- Left and right controls -->
                         <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                           <span class="glyphicon glyphicon-chevron-left"></span>
                           <span class="sr-only">Previous</span>
                         </a>
                         <a class="right carousel-control" href="#myCarousel" data-slide="next">
                           <span class="glyphicon glyphicon-chevron-right"></span>
                           <span class="sr-only">Next</span>
                         </a>
                     </div>
                 </div>
                 
             </section>
         </article>
     </div>
    </div>
   


   <div class="infosecun">
           <div class="info2">
            <article class="container">
                <section class="row">
                    <div class="color4 col-xs-12 col-sm-6 col-md-6">
                        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel1" data-slide-to="1"></li>
                              <li data-target="#myCarousel1" data-slide-to="2"></li>
                              <li data-target="#myCarousel1" data-slide-to="3"></li>
                              <li data-target="#myCarousel1" data-slide-to="4"></li>
                              <li data-target="#myCarousel1" data-slide-to="5"></li>
                            </ol>
                        
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner ">
                        
                              <div class="item active ">
                                <img src="/Assets/Image/informatica-boton.png" alt="1" style="width:100%;" class="filtro">
                                <div class="carousel-caption ">
                                  <h3> Vacante: Analista de Infraestructura</h3>
                                  <p>Vacante disponible: Analista de Infraestructura Objetivo del puesto: Implementear, mantener y...</p>
                                  <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                                </div>
                              </div>
                        
                              <div class="item">
                                <img src="/Assets/Image/boton-pedagogia.png" alt="2" style="width:100%;"class="filtro">
                                <div class="carousel-caption">
                                  <h3>RECEPCIONISTA BILINGÜE</h3>
                                  <p>Vacante disponible: Recepcionista BilingüeEncargada de recibir y atender a las personas que...</p>
                                  <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                                </div>
                              </div>
                            
                              <div class="item">
                                <img src="/Assets/Image/electronica.png" alt="New3" style="width:100%;"class="filtro">
                                <div class="carousel-caption">
                                    <h3> Vacante: Analista de Infraestructura</h3>
                                    <p>Vacante disponible: Analista de Infraestructura Objetivo del puesto: Implementear, mantener y...</p>
                                  <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                                </div>
                              </div>

                              <div class="item">
                                <img src="/Assets/Image/boton-administracion-educativa.png" alt="4" style="width:100%;"class="filtro">
                                <div class="carousel-caption">
                                    <h3> Vacante: Analista de Infraestructura</h3>
                                    <p>Vacante disponible: Analista de Infraestructura Objetivo del puesto: Implementear, mantener y...</p>
                                  <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                                </div>
                              </div>
                              
                              <div class="item">
                                <img src="/Assets/Image/merca-boton.png" alt="5" style="width:100%;"class="filtro">
                                <div class="carousel-caption">
                                    <h3> Vacante: Analista de Infraestructura</h3>
                                    <p>Vacante disponible: Analista de Infraestructura Objetivo del puesto: Implementear, mantener y...</p>
                                  <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                                </div>
                              </div>

                              <div class="item">
                                <img src="/Assets/Image/sistemas.png" alt="6" style="width:auto;"class="filtro">
                                <div class="carousel-caption">
                                    <h3> Vacante: Analista de Infraestructura</h3>
                                    <p>Vacante disponible: Analista de Infraestructura Objetivo del puesto: Implementear, mantener y...</p>
                                  <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                                </div>
                              </div>

                              <div class="item">
                                <img src="/Assets/Image/117299860_3525487644152681_8279732044697076864_n.jpg" alt="7" style="width:57%;"class="filtro">
                                <div class="carousel-caption">
                                    <h3>Supervisión y Monitoreo del Censo Nacional de Infraestructura Escolar – Ingeniería de Sistemas, Informática y Ciencias de la Computación o su equivalente</h3>
                                    <p>La Dirección de Planificación Educativa –DIPLAN  Contratará los servicios de un (01) profesional...</p>
                                  <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                                </div>
                              </div>

                            </div>
                        
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class=" col-xs-12 col-sm-6 col-md-6">
                        <p >
                            <b> <h1> BOLSA DE EMPLEO </h1></b><br>
                            Vacantes disponibles para profesionales a los cuales puedes aplicar. <br>
                            <br>
                            Más información:
                            <br>
                            <br>
                            <a href="https://www.google.com" class="boton_22">Click Aquí</a>
                        </p>
                    </div>
                </section>
            </article>
        </div>
   </div>
      


    <div class="imagenesfin">
        <article class="imagenesfin2 imagen2" >
            <section class="container" >
                
                    <div class="col-xs-12 col-sm-4 col-md-6">
                        <center>
                            
                            <h2><b>¡Síguenos en nuestras Redes Sociales!</b></h2>
                            <p>
                               <br>
                                Podrás solicitar más <br>
                                 información y enterarte de las <br>
                                  actividades que realizamos en <br>
                                   Universidad Mesoamericana.
                            </p>
                            <a href="https://www.facebook.com/mesoxela">
                                <img src="/Assets/Image/facebo.png" style="width: 12%;">
                            </a>
                            <a href="https://www.instagram.com/mesoxela/">
                                <img src="/Assets/Image//Insta.png" style="width: 12%;">
                            </a>
                            <a href="https://twitter.com/mesoxela">
                                <img src="/Assets/Image/twiter.png" style="width: 12%;">
                            </a>
                        </center>
                        
                        
                    </div> 
                    <div class=" col-xs-12 col-sm-8 col-md-6">
    
                        <br>
                    </div>
               
                
            </section>
        </article>
    </div>
    

  </main>
    <footer>
        <div class="infprincipal">
            <article class="container">
                <section class="row">
                    <div class="color1 col-xs-12 col-sm-12 col-md-4">
                        <p >
                            <b> CAMPUS ZONA 3</b><br>
                            3a calle 14-36 zona 3 <br>
                            PBX 7932 9000 <br>
                            info@mesoamericana.edu.gt
                        </p>
                    </div>
                    <div class="color1 col-xs-12 col-sm-12 col-md-4">
                        <p>
                            <b> CAMPUS LAS AMÉRICAS </b> <br>
                            Facultad de Medicina – Tel. 7728  8400 <br>
                            Extensión 107 o 108 <br>
                            10a calle 0-11 zona 9
                        </p>
                    </div>
                    <div class="color1 col-xs-12 col-sm-12 col-md-4">
                        <p>
                            <b> CAMPUS LAS AMÉRICAS </b><br>
                            Facultad de Ingeniería – PBX 7728 8400 <br>
                            Extensión 115 <br>
                            Avenida Las Américas 9-80 zona 9
                        </p>
                    </div>
                </section>
            </article>
        </div>
        <div class="creditos1">
           © 2020 Universidad Mesoamericana
        </div>
        <div>
        </div>
        <div class="creditos2">
            <a href="">WordPress Appliance</a> - Powered by <a href="">TurnKey Linux </a>
            <br>
            <br>
        </div> 
    </footer>

    <script src="/js/jqwery.js"> </script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
 
</body>
</html>